/*empty*/
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: "Droid Serif", sans-serif;
    font-size: 16pt;
}

a, strong, em {
    color: #0099ff;
}

p.info,
#login p {
    width: 80%;
    margin: 1vw auto;
}
.Gluten {
    color: #ff5500;
}

#Gluten {
    text-transform: uppercase;
}
.Alternatives {
    background-color: black;
    color: white;     
}
.button {
    transition-duration: 0.4s;
    margin: 20px 20px 20px 1px;
}

    .button:hover {
        background-color: #4CAF50; /* Green */
        color: white;
    }
.contact {
    margin: 20px 20px 20px 1px
}
.Firstburger {
    margin: 1px 20px 20px 1px; 
    border: 2px solid #ff9900;
}
.Secondburger {
    margin: 1px 20px 20px 1px;
    border: 2px solid #ff9900;
}
.Thirdburger {
    margin: 1px 20px 20px 1px;
    border: 2px solid #ff9900;
}
.resturant {
    width: 1300px;
    height: 300px;
    opacity: 0.8;
}

    /* Resize images */
    .resturant img {
        width: 100%;
        height: 300px;
        opacity: 0.8;
    }
.resturant {
    position: relative;
    text-align: center;
    color: black;
}
.top-left {
    position: absolute;
    top: 30px;
    left: 40px;
}

